.summary-component {
  max-width: 460px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
}
.summary-component .summary-component__image {
  height: 232px;
  width: 100%;
  background-image: url("/images/order-background.jpg");
  background-size: cover;
  border-radius: 16px 16px 0 0;
  background-position: center;
  background-attachment: local;
}
.summary-component .summary-component__order-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  justify-content: center;
  gap: 40px;
  padding: 0 16px;
}
.summary-component .summary-component__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 349px;
}
.summary-component .summary-component__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #151827;
  margin: 0;
}
.summary-component .summary-component__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #85859B;
  text-align: center;
  margin: 0;
}
.summary-component .summary-component__ordered-items {
  width: 100%;
}
.summary-component .summary-component__single-item {
  display: flex;
  align-items: center;
  background-color: #F8F9FE;
  border-radius: 16px;
  height: 83px;
  padding: 0 32px;
}
.summary-component .summary-component__icon {
  width: 24px;
  height: 24px;
  background-image: url("/icons/music.png");
  background-size: cover;
}
.summary-component .summary-component__separator {
  width: 0px;
  height: 51px;
  border: 1px solid #CFD1DD;
  margin: 0 32px;
}
.summary-component .summary-component__item {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: -2px;
}
.summary-component .summary-component__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #151827;
}
.summary-component .summary-component__item-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #85859B;
  margin-top: -2px;
}
.summary-component .summary-component__change {
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.01em;
  text-underline-offset: 3px;
  color: #680262;
}
@media screen and (max-width: 768px) {
  .summary-component {
    max-width: 343px;
  }
  .summary-component .summary-component__order-info {
    margin-top: 40px;
    gap: 32px;
  }
  .summary-component .summary-component__image {
    height: 188px;
    background-size: 135%;
    background-repeat: no-repeat;
  }
  .summary-component .summary-component__title {
    font-size: 24px;
    line-height: 33px;
  }
  .summary-component .summary-component__description {
    font-size: 14px;
  }
  .summary-component .summary-component__item {
    margin-left: 0;
  }
  .summary-component .summary-component__item-title {
    font-size: 16px;
  }
  .summary-component .summary-component__item-desc {
    font-size: 12px;
  }
  .summary-component .summary-component__separator {
    height: 43px;
    margin: 0 22px 0 20px;
  }
  .summary-component .summary-component__change {
    font-size: 14px;
    text-underline-offset: 1px;
  }
  .summary-component .summary-component__single-item {
    height: 75px;
    padding: 0 24px 0 20px;
  }
}/*# sourceMappingURL=summary-component.css.map */